body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
  background-color: #EEE;
  padding: 0.5em 2em;
  color: "black";
}

html {
  background-image: url("https://images.unsplash.com/photo-1488289209768-16ceec3f0b22");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  border-bottom: #CCC solid 1px;
}